.services-container {
  /* Set the background image and make it cover the container */
  background-image: url('../../public/images/ServicesOP.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex; /* Use flexbox to center content */
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white; /* Text color */
  padding: 0px 0px 0px 0px;
  
}

.overlay {
  /* Create a semi-transparent black overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black with 40% opacity */
}

.services-content {
  /* Position content above the overlay and center it */
  position: relative; /* Make sure content is above the overlay */
  z-index: 2; /* Ensure it's on top */
  max-width: 600px;
  padding: 20px;
}

.services-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.services-content p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  font-weight: 300;
}

.cta-button {
  /* Style the button */
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #f0f0f0;
}